@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Saiba mais em <a href="https://learn.microsoft.com/aspnet/core"> construir aplicações web com ASP.NET Core</a>.</p>
</div>
